*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../images/page-bg.jpg");
    font-family: 'Lato', sans-serif;
}
hr{
    border-top: 1px solid rgb(98, 98, 98) ;
}
.main{
    box-sizing: border-box;
    width:calc(75% + 42px);
    float: right;
    padding: 15px;
    box-sizing: border-box;
    text-transform: capitalize;
}
.container{
    color: #fff;
    /* border: 1px solid red; */
    height: auto;
}
/* ========= common css ======= */


.section-heading {
    text-align: center;
    padding: 40px 45px;
}

.section-heading h2 { 
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}

.section-heading .line-dec {
    width: 80px;
    height: 3px;
    background-color: #a43f49;
    margin: 10px auto;
}

.section-heading span {
    margin-top: 5px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.5px;
}