#cardId{
    width: 18rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 5px;

}
#cardId .card-title{
    text-transform: uppercase;
}
#cardId .card-subtitle{
    font-size: 10pt;
        
}